/* Reset css */
html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: "Roboto, sans-serif";
}

ol,
ul {
  list-style: none;
}

/* Style */

.product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 200px;
}

.slider,
.product-info {
  max-width: calc(50% - 100px);
}

.product-img img {
  max-width: 100%;
}

.slider-img {
  max-width: 100%;
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8px;
}

.img-options {
  max-width: 100%;
  cursor: pointer;
}

.slider-img img:hover {
  opacity: 0.7;
}

.product-info {
  margin-left: 100px;
}

.product_name {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  margin-bottom: 16px;
}

.product_desc {
  color: rgb(151, 151, 151);
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.product_price {
  margin-bottom: 50px;
}

.product_price--new {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  margin-right: 8px;
}

.product_price--old {
  color: rgb(151, 151, 151);
  font-size: 14px;
  text-decoration: line-through;
}

.product_price--sale {
  background-color: #f90708;
  border-radius: 4px;
  padding: 2px 4px;
  color: #fff;
  font-size: 12px;
  margin-left: 16px;
}

.product_submit {
  display: flex;
}

.product_quantity {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-right: 8px;
}

#quan {
  width: 36px;
  border: none;
  text-align: center;
  background-color: #f5f5f5;
  outline: none;
}

#increase {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#decrease {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.product_quantity div {
  padding: 12px 16px;
  cursor: pointer;
}

#quan {
  cursor: inherit;
}

#increase:hover {
  background-color: #ccc;
  opacity: 0.6;
}

#decrease:hover {
  background-color: #ccc;
  opacity: 0.5;
}

Button {
  background-color: #5756d7;
  border: none;
  color: #fff;
  padding: 12px 40px;
  border-radius: 8px;
  cursor: pointer;
}

Button i {
  margin-right: 8px;
}

Button:hover {
  opacity: 0.8;
}

#error-quan {
  color: #f41515;
  margin-bottom: 4px;
}

.modal_loading {
  background-color: #f5f5f5;
  opacity: 0.8;
  position: absolute;
  top: 0;
  bottom: -200px;
  right: 0;
  left: 0;
  display: none;
}

.loading {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border: 4px rgba(0, 0, 0, 0.6) solid;
  border-top: 4px black solid;
  border-bottom: 4px black solid;
  border-radius: 50%;
  -webkit-animation: spin1 1s infinite linear;
  animation: spin1 1s infinite linear;
}

@-webkit-keyframes spin1 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin1 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
